<!DOCTYPE html>
<html>
  <head>
    <title>Yunrui | <%= content_for :title %></title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <link rel="stylesheet" type="text/css" href="chrome-extension://pkehgijcmpdhfbdbbnkijodmdjhbjlgp/skin/socialwidgets.css">
      <%= csrf_meta_tags %>
      <meta name="keywords" content="ruby on rails, ruby,rails">
      <meta name="keywords" content="tutorial,guide">
      <meta name="keywords" content="Jquery, javascript">
      <meta name="keywords" content="java, objective-c,swift">
     <script>
     $(document).on('page:change' ,function(){
          $('a#dropdown').click(function(){
           $('ul#dropdown').toggle();
            return false;
          });
        });
     </script>
     <style>
     li.dropdown{
      display: block;
      position: relative;

     }
     ul#dropdown{
      display:none;
      position:absolute;
      z-index:100;
    }
     </style>

  </head>


<body>
<header role="banner">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
	<div class="header-title"><a href="/">yunrui zhang</a></div>
	<br><div class="header-subtitle">A coding particle</div>
  <!--Life is a just simple wish playing hard-to-get-->
</header>

  <nav role="navigation">
  	<!--ul class="subscription" data-subscription="rss">
  		<li><a href="/atom.xml" rel="subscribe-rss" title="subscribe via RSS"></a></li>
	</ul-->
  
<!--form action="http://google.com/search" method="get">
  <fieldset role="search">

    <input type="hidden" name="q" value="site:yunrui.guru" />
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form-->
<ul  id="drop-nav" class="dropdown" style="float:right">
  <!--li><%#=link_to 'PseudoRandom',yunrui_rand_path%></li-->
  <li >
    <a id="dropdown" href="#"> PseudoRandom</a><br>
    <ul id="dropdown">
      <li class="dropdown" style="float:none;margin-top:15px;"><%=link_to 'art',yunrui_art_path%></li><br>
      <li class="dropdown" style="float:none"><%=link_to 'philosophy',yunrui_philosophy_path%></li><br>
      <li class="dropdown" style="float:none"><%=link_to 'physics',yunrui_physics_path%></li><br>
      <li class="dropdown" style="float:none"><%=link_to 'TruelyRandom',yunrui_rand_path%></li><br>
    </ul >
  </li>
</ul>


  
<ul class="main-navigation">
  <li><%=link_to 'About',root_path%></li>
  <li><%=link_to 'Projects',yunrui_projects_path%></li>
  <li><%=link_to 'Blog',blogs_path%></li>
  <li><%#=link_to 'Back Door', new_god_registration_path%></li>
</ul>
</nav>
  


  <div id="main">
    <div id="content" style="width:100%">
     	<%= yield %>
		<aside class="sidebar"></aside>
    </div>
  </div>
  <footer role="contentinfo"><p>
  Copyright &copy; 2014 - <a href="mailto:me@yunrui.guru">Yunrui Zhang</a><br/>
	Hosted by <a href="http://heroku.com">Heroku</a>.   
  </span>
</p>
</footer>
<div id="fb-root"></div>
    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'yunruiguru'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
    
</body>
</html>
